// ********** FONT **********//

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

// ********** VARIABLES **********//

$font-family: "Muli", sans-serif;
$global-font-size: 16px;
$global-font-value: 16px;

// ********** VARIABLES **********//

$primary-withe: white;
$primary-black: #2C2A29;
$second-black: #5C656A;

// ********** PRODUCTS/CATEGORIES **********//

@mixin respond-to($breakpoint) {

  @if $breakpoint == 'tablet' {
    @media (min-width: 768px) { @content; }
  }
  @else if $breakpoint == 'desktop' {
    @media (min-width: 1366px) { @content; }
  }
}

// ********** FLASH/NOTICE/ALERT **********//

.flash-message {
  padding: 1rem;
  border-radius: 0.25rem;
  position: fixed;
  top: 3rem;
  right: 16rem;
  left: 1rem;
  z-index: 9999;
  max-width: 300px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  @include respond-to('tablet') { 
    right: 2rem;
  }
}

.flash-notice {
  background-color: $primary-withe;
  border-left: 5px solid #28a745; /* Franja verde */
  color: #155724; /* Texto verde */
}

.flash-alert {
  background-color: $primary-withe;
  border-left: 5px solid #dc3545; /* Franja roja */
  color: #721c24; /* Texto rojo */
}

// ********** HTML **********//

html,
body {
  font-size: $global-font-size;
  font-family: $font-family;
  color: $primary-black;
  margin: 0;
}

a {
  text-decoration:none;
}

// ********** APPVIEW **********//

.body_name {
  background-color: #e5e7eb;
  font-family: $font-family;
}

// ********** FORMS **********//

.form_container {
  border-color: #e5e7eb; // Color gris claro de Tailwind
  border-width: 1px;
  border-style: solid;
  border-radius: 1rem;
  margin-bottom: 1rem;
  width: 75%;
  padding: 1rem; // Agrega un poco de padding
}

.form_title,
.form_description,
.form_price,
.form_category,
.form_photo {
  margin-bottom: 1rem; // Espaciado entre campos
}

.form_title label,
.form_description label,
.form_price label,
.form_category label,
.form_photo label {
  display: block; // Para que las etiquetas se alineen correctamente
  font-weight: bold; // Estilo de la etiqueta
  margin-bottom: 0.5rem; // Espaciado entre la etiqueta y el campo
}

input[type="text"],
input[type="number"],
textarea,
select,
input[type="file"] {
  width: 95%; // Ancho completo para los campos
  padding: 0.5rem; // Padding interno
  border: 1px solid #ccc; // Borde
  border-radius: 0.50rem; // Bordes redondeados
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); // Sombra ligera
}

input[type="submit"] {
  background-color: #4f46e5; // Color de fondo del botón
  color: white; // Color del texto
  padding: 0.5rem 1rem; // Espaciado interno
  border: none; // Sin borde
  border-radius: 0.25rem; // Bordes redondeados
  cursor: pointer; // Cambia el cursor al pasar por encima
  transition: background-color 0.3s; // Efecto de transición
}

input[type="submit"]:hover {
  background-color: #3730a3; // Color del botón al pasar el mouse
}


// ********** HEADER **********//

.header_class {
  background-color: $primary-withe;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;

  .app_name {
    font-size: 24px;
    font-weight: bold;
    color: blue;
  }

  .link_container {
    margin-left: 8px;
    margin-right: 8px;
    color: blue;
    font-weight: bold;

    display: none;

    @include respond-to('tablet') { 
      display: block;
    }
  }
}

.icon_button {
  background: transparent;
  border: none;
  width: 50px;
  height: 50px;
  
  display: block;

  @include respond-to('tablet') { 
    display: none;
  }
}

.mobile_container {
  background-color: $primary-withe;
  position: absolute;
  top: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 40%;
  padding: 20px; 
  gap: 15px;
  overflow-y: auto; 
  transition: transform 0.2s ease-in-out; 
  transform: translateX(100%);


  .icon_button {
    background: transparent;
    border: none;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }  

  @include respond-to('tablet') { 
    display: none;
  }
}

.hidden {
  display: none;
}

.mobile_container.visible {
  display: flex;
  transform: translateX(200%);
}

// ********** NEW PRODUCT **********//

.shadow_container {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.4);
}

.new_side {
  position: fixed;
  top: 0;
  z-index: 20;
  width: 50%;
  height: 100%;
  background-color: white;
  overflow-y: scroll;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out; /* Transición suave */
  padding: 1rem; /* 20px */
  transform: translateX(100%); /* Desplazamiento total a la derecha */
}

@media (max-width: 768px) {
  .new_side {
    transform: translateX(80%);
  }
}

.new_side.visible {
  transform: translateX(200%);
}

// ********** PRODUCTS **********//

.text_container {
  margin-top: 8px;
  margin-bottom: 8px;

  input[type="text"] {
    width: 100%;
    padding: 8px;
    border-radius: 15px;
    border: 1px solid #d1d5db;
    box-sizing: border-box;

    &::placeholder {
      font-size: 14px;
      font-family: $font-family;
    }
  }
}

.price_container {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.price_container input[type="number"],
.price_container select {
  flex: 1;
  min-width: 150px;
  padding: 8px;
  border: 1px solid #d1d5db;
  border-radius: 15px;
}

// ********** PRODUCTS/CATEGORIES **********//

.yield_container {
  max-width: 100%; 
  padding-left: 1rem; 
  padding-right: 1rem; 

  @include respond-to('desktop') { 
    padding-left: 10rem; 
    padding-right: 10rem;
  }
}

// ********** PRODUCTS **********//

.products_container {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;

  .product {
    background-color: $primary-withe; 
    margin-bottom: 0.5rem; 
    border-radius: 0.5rem; 
    display: flex;
    flex-direction: column;
    padding: 0.5rem; 
  
    @include respond-to('tablet') { 
      width: calc(31% - 0.5rem);
    }

    @include respond-to('desktop') { 
      width: calc(23% - 0.5rem); 
    }
  }

  @include respond-to('tablet') {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.7rem;
  }

  @include respond-to('desktop') { 
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.7rem;
  }

}

.product img {
  width: 100%; 
  height: 15rem; 
  object-fit: cover; 
}

.product span {
  font-size: 1.25rem; 
  font-weight: bold; 
  color: #000000; 
  padding-top: 10px;
}

.product h2 {
  font-size: 1rem; 
  color: #000000; 
}

.product p {
  font-size: 0.875rem; 
  color: #6B7280; 
  margin-top: 0.5rem; 
}


// ********** PRODUCTS/CATEGORIES **********//

.categories_container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding-top: 8px;
  gap: 5px;
  color: $primary-black;
}

.category-box {
  padding: 8px 16px;
  border-radius: 1.5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  transition: background-color 0.2s;
  text-decoration: none;
  margin-bottom: 8px;

  a {
    color: $primary-black;
  }
}

.category-box:hover {
  background-color: #d1d5db;
}

.category_component {
  background-color: #D1D5DB;
}

.category_component_2 {
  background-color: $primary-withe;
}